{% extends "instacart_shopper/layout.html" %}
{% block content %}
<div class="container">
   <div>
        <h4>Terms and Conditions:</h4>
          <p>
            <ul>
              <li>You must be 18 or over</li>
              <li>You must be able to lift between 30-40 lbs with or without an accommodation</li>
              <li>You must be eligible to work in the United States</li>
              <li>You authorize Instacart to perform a background check based on the information provided with this application. Instacart has the right to cancel this contract, if the submitted personal information is found incorrect at any point during your employment. 
          </ul>  
        </p>
   </div>   
   <br />
   
<form class="form-horizontal" id="background_check_form" method="post" action="/instacart_shopper/confirmation/">
{% csrf_token %}
  <input type="submit" class="btn btn-success btn-large" value="I accept the terms and conditions">
</form>

<form action="/instacart_shopper/">
{% csrf_token %}
  <input type="submit" class="btn btn-large btn-danger" value="I don't accept the terms and conditions">
</form> 
</div>

{% endblock %}