{% extends "instacart_shopper/layout.html" %}
{% block content %}
<div class="container" id="login_modal">
   <div class="modal-body">
      <div class="well">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#register" data-toggle="tab"><b>Become a shopper</b></a></li>
            <li><a href="#login" data-toggle="tab"><b>Application status</b></a></li>
         </ul>
         <div id="my_tab_content" class="tab-content">
            <div class="tab-pane active in" id="register">
          <div class="jumbotron-heading">
            <p class="h5">Earn money shopping and delivering groceries, giving customers more time to do what they love. Apply in under 5 minutes!</p>
          </div>
            <form class="form-horizontal" id="applicant_form" method="post" action="/instacart_shopper/register/" 
                role="form" enctype="multipart/form-data" onsubmit="validate_form()">
                {% csrf_token %}
                  <div class="control-group">  
                    <label class="control-label" for="name">Name</label>  
                    <div class="controls">  
                      <input type="text" id="name" name="name" required>  
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="email">Email</label>  
                    <div class="controls">  
                      <input type="email" id="email" name="email" required>  
                    </div>  
                  </div>   
                  
                  <div class="control-group">  
                    <label class="control-label" for="phone">Phone</label>  
                    <div class="controls">  
                      <input type="text" id="phone" name="phone" pattern="[1-9][0-9]{9}" required>  
                    </div>  
                  </div>
                  
                  <div class="control-group">  
                    <label class="control-label" for="city">City</label>  
                    <div class="controls">  
                      <input type="text" id="city" name="city" required>  
                    </div>  
                  </div>    

                  <div class="control-group">  
                    <label class="control-label" for="state">State</label>  
                    <div class="controls">  
                      <input type="text" id="state" name="state" required>  
                    </div>  
                  </div>                                                                  
                  
               <div class="form-actions">  
                   <button id="applicant_submit" type="submit" class="btn btn-success">Apply Now</button>  
               </div>                 
            </form>
            </div>
            
            <div class="tab-pane fade" id="login">
            <form class="form-horizontal" id="login_form" method="post" action="/instacart_shopper/login/" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="control-group">  
                    <label class="control-label" for="email"><b>Email</b></label>  
                    <div class="controls">  
                      <input type="email" id="email" name="email" required>  
                    </div>  
                  </div>
                                       
               <div class="form-actions">  
                   <button id="login_submit" type="submit" class="btn btn-success">View Application</button>  
               </div>                 
            </form>
            </div>
            
         </div>
      </div>
   </div>
</div>

{% endblock %}